
Tujuan

Pada latihan ini kita akan menggunakan logistic regression untuk memprediksi apakah seseorang akan membeli setelah melihat iklan sebuah produk. 


Tahapan Latihan

Tahapan yang dilalui dalam latihan kali ini adalah sebagai berikut:

    Ubah dataset menjadi Dataframe.
    Hapus kolom 'User ID'.
    Pisahkan atribut dan label.
    Latih model Logistic Regression.
    Evaluasi akurasi model.

In [1]:
import pandas as pd

# membaca dataset dan mengubahnya menajdi dataframe

df = pd.read_csv("Social_Network_Ads.csv")

In [2]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB